<p id="notice"><%= notice %></p>

<p>
  <strong>Meal type:</strong>
  <%= @order.meal_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<ol>
<% @order.lines.each do |line| %>
     <li><%= line.name %> - <%= line.price %></li>
<% end %>
</ol>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
